.img-1:hover {
  background: linear-gradient(to bottom, hsla(210, 21%, 30%, 0.5), 15%, transparent) !important;
}

.img-2:hover {
  background: linear-gradient(to bottom, rgba(94, 94, 94, 0.5), 15%, transparent) !important;
}

.img-3:hover {
  background: linear-gradient(to bottom, rgba(20, 65, 154, 0.5), 15%, transparent) !important;
}

.img-4:hover {
  background: linear-gradient(to bottom, rgba(231, 100, 100, 0.5), 15%, transparent) !important;
}

.delay-1 {
  animation-delay: 0.2s;
}

.delay-2 {
  animation-delay: 0.4s;
}

.delay-3 {
  animation-delay: 0.6s;
}

.delay-4 {
  animation-delay: 0.8s;
}

.delay-5 {
  animation-delay: 1s;
}

.delay-6 {
  animation-delay: 1.2s;
}

.delay-7 {
  animation-delay: 1.4s;
}

.delay-8 {
  animation-delay: 1.6s;
}

#carousel .carousel__content .swiper-wrapper .slide-1 {
  background-image: url(../img/banner-1.jpg);
}
@media screen and (max-width: 767.98px) {
  #carousel .carousel__content .swiper-wrapper .slide-1 {
    background-image: url(../img/banner-1-xs.jpg);
  }
}

#carousel .carousel__content .swiper-wrapper .slide-2 {
  background-image: url(../img/banner-2.jpg);
}
@media screen and (max-width: 767.98px) {
  #carousel .carousel__content .swiper-wrapper .slide-2 {
    background-image: url(../img/banner-2-xs.jpg);
  }
}

#carousel .carousel__content .swiper-wrapper .slide-3 {
  background-image: url(../img/banner-3.jpg);
}
@media screen and (max-width: 767.98px) {
  #carousel .carousel__content .swiper-wrapper .slide-3 {
    background-image: url(../img/banner-3-xs.jpg);
  }
}

#carousel .carousel__content .swiper-wrapper .slide-4 {
  background-image: url(../img/banner-4.jpg);
}
@media screen and (max-width: 767.98px) {
  #carousel .carousel__content .swiper-wrapper .slide-4 {
    background-image: url(../img/banner-4-xs.jpg);
  }
}

#our .tab-content .item-1 {
  background-image: url(../img/slider-1.jpg);
}
@media screen and (max-width: 767.98px) {
  #our .tab-content .item-1 {
    background-image: url(../img/slider-1-xs.jpg);
  }
}

#our .tab-content .item-2 {
  background-image: url(../img/slider-2.jpg);
}
@media screen and (max-width: 767.98px) {
  #our .tab-content .item-2 {
    background-image: url(../img/slider-2-xs.jpg);
  }
}

#our .tab-content .item-3 {
  background-image: url(../img/slider-3.jpg);
}
@media screen and (max-width: 767.98px) {
  #our .tab-content .item-3 {
    background-image: url(../img/slider-3-xs.jpg);
  }
}

#our .tab-content .item-4 {
  background-image: url(../img/slider-4.jpg);
}
@media screen and (max-width: 767.98px) {
  #our .tab-content .item-4 {
    background-image: url(../img/slider-4-xs.jpg);
  }
}

#our .tab-content .item-5 {
  background-image: url(../img/slider-5.jpg);
}
@media screen and (max-width: 767.98px) {
  #our .tab-content .item-5 {
    background-image: url(../img/slider-5-xs.jpg);
  }
}

#discover .discover__content .discover__item .text-1 {
  background-image: url(../img/discover-1.jpg);
}

#discover .discover__content .discover__item .text-2 {
  background-image: url(../img/discover-2.jpg);
}

#discover .discover__content .discover__item .text-3 {
  background-image: url(../img/discover-3.jpg);
}

#discover .discover__content .discover__item .text-4 {
  background-image: url(../img/discover-4.jpg);
}

#discover .discover__content .discover__item .text-5 {
  background-image: url(../img/discover-5.jpg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-size: 11px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
#header #navbar {
  background-color: #007cc3;
}
#header #navbar a {
  display: block;
  color: white;
  font-size: 1.4rem;
  padding: 20px 25px;
  text-decoration: none;
}
#header #navbar > a:first-child {
  padding: 0 25px;
  margin-right: 0;
}
#header #navbar .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
  box-shadow: none;
}
#header #navbar .navbar-toggler i {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.8rem;
}
#header #navbar .navbar-nav .nav-item {
  position: relative;
}
#header #navbar .navbar-nav .nav-item .dropdown-item {
  position: absolute;
  width: 40rem;
  right: -30%;
  background-color: white;
  padding: 15px;
  box-shadow: 1px 20px 70px -10px rgba(59, 59, 59, 0.63);
}
#header #navbar .navbar-nav .nav-item .dropdown-item:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: white;
  top: -4%;
  right: 20%;
}
#header #navbar .navbar-nav .nav-item .dropdown-item#owners-dropitem::before {
  right: 17%;
}
#header #navbar .navbar-nav .nav-item .dropdown-item#discover-dropitem::before {
  right: 19%;
}
#header #navbar .navbar-nav .nav-item .dropdown-item#english-dropitem::before {
  right: 15.5%;
}
#header #navbar .navbar-nav .nav-item .dropdown-item .drop-right ul,
#header #navbar .navbar-nav .nav-item .dropdown-item .drop-left ul {
  list-style: none;
  padding-left: 0;
}
#header #navbar .navbar-nav .nav-item .dropdown-item .drop-right ul li a,
#header #navbar .navbar-nav .nav-item .dropdown-item .drop-left ul li a {
  color: #2198dc;
  border: none;
  padding: 0;
  font-weight: bold;
  font-size: 1.4rem;
  white-space: pre-wrap;
}
#header #navbar .navbar-nav .nav-item .dropdown-item .drop-bottom {
  display: flex;
  justify-content: space-evenly;
  margin: 15px 0;
}
#header #navbar .navbar-nav .nav-item .dropdown-item .drop-bottom i {
  font-size: 1.8rem;
  color: #2198dc;
}

.no_border {
  border: none !important;
}

.border_right {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.border_left {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.active {
  background-color: white !important;
  color: #007cc3 !important;
  border: none;
  outline: none;
}

#vehicles__popup {
  display: none;
  background-color: rgba(0, 67, 108, 0.8);
}
#vehicles__popup #vehicles__content {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
#vehicles__popup #vehicles__content .btn__close {
  position: absolute;
  top: 7%;
  right: -7%;
}
#vehicles__popup #vehicles__content .btn__close button {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 20px;
  color: #2198dc;
  background-color: #f5f5f5;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}
#vehicles__popup #vehicles__content .btn__close button:hover {
  color: black;
}
#vehicles__popup #vehicles__content .nav__vehicle {
  background-color: white;
  text-align: center;
}
#vehicles__popup #vehicles__content .nav__vehicle ul {
  list-style: none;
  padding: 15px;
}
#vehicles__popup #vehicles__content .nav__vehicle ul li {
  display: inline;
}
#vehicles__popup #vehicles__content .nav__vehicle ul li a {
  font-size: 1.4rem;
  color: black;
  font-weight: bold;
  padding: 5px 25px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
#vehicles__popup #vehicles__content .nav__vehicle ul li:last-child a {
  border: none;
}
#vehicles__popup #vehicles__content .nav__vehicle ul li.active a {
  color: #2198dc;
  text-decoration: underline;
}
#vehicles__popup #vehicles__content .nav__vehicle ul li:hover a {
  color: #2198dc;
}
#vehicles__popup #vehicles__content .vehicle__list {
  background-color: #f5f5f5;
  padding: 50px 50px 100px 50px;
  max-height: 700px;
}
#vehicles__popup #vehicles__content .vehicle__list .vehicle__title .vehicle__text {
  text-align: center;
  position: relative;
  z-index: 0;
}
#vehicles__popup #vehicles__content .vehicle__list .vehicle__title .vehicle__text > span {
  font-size: 2.4rem;
  font-weight: normal;
  padding: 0 10px;
  background-color: #f5f5f5;
  position: relative;
  top: -30px;
  z-index: 2;
}
#vehicles__popup #vehicles__content .vehicle__list .vehicle__title .vehicle__text > span i {
  font-size: 1rem;
  margin: 0 10px;
  position: relative;
  top: -5px;
}
#vehicles__popup #vehicles__content .vehicle__list .vehicle__title .vehicle__text > span .bold {
  font-weight: bold;
}
#vehicles__popup #vehicles__content .vehicle__list .vehicle__item {
  padding: 15px;
}
#vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1490196078), 15%, transparent);
}
#vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child:hover .img-active {
  display: none;
}
#vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child:hover .img-hover {
  display: block !important;
}
#vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__name {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 5px;
}
#vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__infor .infor__left, #vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__infor .infor__right {
  text-align: center;
}
#vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__infor .infor__left h3, #vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__infor .infor__right h3 {
  font-size: 2.4rem;
  font-weight: normal;
}
#vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__infor .infor__left p, #vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__infor .infor__right p {
  font-size: 1.4rem;
  margin-bottom: 5px;
}
#vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__button {
  margin-top: 15px;
  text-align: center;
}
#vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__button button {
  border: 2px solid #2198dc;
  border-radius: 40px;
  font-weight: bold;
  padding: 6px 20px;
  font-size: 1.4rem;
  cursor: pointer;
  margin-right: 5px;
}
#vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__button button:first-child {
  background-color: #2198dc;
  color: white;
}
#vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__button button:first-child:hover {
  background-color: white;
  color: #2198dc;
}
#vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__button button:last-child {
  background-color: white;
  color: #2198dc;
}
#vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__button button:last-child:hover {
  background-color: #2198dc;
  color: white;
}

#footer {
  background-color: #007cc3;
  padding: 30px;
}
#footer .footer__content {
  width: 85%;
  margin: 0 auto;
}
#footer .footer__content .footer__top {
  padding-bottom: 30px;
}
#footer .footer__content .footer__top .top-right p {
  font-size: 1.4rem;
  color: #f5f5f5;
  width: 90%;
  white-space: line-wrap;
}
#footer .footer__content .footer__top .top-right p a {
  color: #f5f5f5;
}
#footer .footer__content .footer__top .top-left {
  text-align: right;
}
#footer .footer__content .footer__top .top-left ul li {
  display: inline-block;
  padding: 0 10px;
}
#footer .footer__content .footer__top .top-left ul li a {
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
}
#footer .footer__content .footer__top .top-left ul li:not(:last-child) {
  border-right: 1px solid #eaeaea;
}
#footer .footer__content .footer__bottom {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
#footer .footer__content .footer__bottom img {
  width: 60%;
}

#header__search {
  position: relative;
}
#header__search > div {
  padding: 15px 40px;
  background-color: #f5f5f5;
}
#header__search > div::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: #f5f5f5;
  top: -10%;
  right: 1.5%;
}
#header__search > div .search-area i {
  font-size: 1.8rem;
  color: #2198dc;
  margin-right: 20px;
  width: 5%;
}
#header__search > div .search-area input {
  border: none;
  outline: none;
  background: transparent;
  height: 3rem;
  width: 90%;
  font-size: 2.4rem;
  font-weight: normal;
  color: #2198dc;
}
#header__search > div .search-area input::placeholder {
  font-size: 2.4rem;
  font-weight: normal;
}
#header__search > div .btn-area {
  display: grid;
  place-items: center;
}
#header__search > div .btn-area button {
  font-size: 1.4rem;
  font-weight: bold;
  color: #2198dc;
  border: 2px solid #2198dc;
  background-color: transparent;
  padding: 5px 15px;
  border-radius: 15px;
}
#header__search > div .btn-area button:hover {
  background-color: #2198dc;
  color: white;
}

#carousel {
  height: 800px;
  padding-top: 50px;
  background-color: #00324f;
}
#carousel .carousel__content {
  height: 500px;
  position: relative;
}
#carousel .carousel__content .carousel__button {
  position: absolute;
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border: 2px solid #ff4040;
  border-radius: 40px;
  background-color: #ff4040;
  color: #fff;
  font-weight: bold;
  padding: 6px 15px;
  font-size: 1.4rem;
  cursor: pointer;
}
#carousel .carousel__content .carousel__button:hover {
  background-color: #fff;
  color: #ff4040;
}
#carousel .carousel__content .swiper-wrapper {
  height: 93%;
}
#carousel .carousel__content .swiper-wrapper .swiper-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#carousel .carousel__content .swiper-button-next,
#carousel .carousel__content .swiper-button-prev {
  top: 40%;
  padding: 50px 30px;
  background-color: rgba(255, 255, 255, 0.9019607843);
  border-radius: 9%;
}
#carousel .carousel__content .swiper-button-prev {
  left: -0.5%;
}
#carousel .carousel__content .swiper-button-next {
  right: -0.5%;
}
#carousel .carousel__content .swiper-pagination span {
  width: 11px;
  height: 11px;
  background-color: #007cc3;
}

#intro .intro__content {
  width: 90%;
  margin: 0 auto;
  margin-top: -200px;
}
#intro .intro__content .intro__item {
  height: 350px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: content-box;
  transition: left 0.5s ease;
}
#intro .intro__content .intro__item:first-child {
  left: -55%;
  padding-right: 20px;
  background-image: url(../img/our-vehicle-intro-1.jpg);
}
#intro .intro__content .intro__item:first-child .intro__text {
  position: absolute;
  width: 95%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
#intro .intro__content .intro__item:first-child .intro__text h4 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}
#intro .intro__content .intro__item:first-child .intro__text p {
  font-weight: 300;
  margin-bottom: 30px;
  padding: 0 20px;
}
#intro .intro__content .intro__item:first-child .intro__text button {
  border: 2px solid #2198dc;
  border-radius: 40px;
  background-color: #2198dc;
  font-size: 1.4rem;
  color: #fff;
  font-weight: bold;
  padding: 5px 15px;
  cursor: pointer;
}
#intro .intro__content .intro__item:first-child .intro__text button:hover {
  background-color: transparent;
  color: #007cc3;
}
#intro .intro__content .intro__item:last-child {
  left: -105%;
  padding-left: 20px;
  background-image: url(../img/our-vehicles-intro-2.jpg);
}
#intro .intro__content .intro__item:last-child .intro__text {
  width: 40%;
  color: white;
  position: absolute;
  top: 60%;
  left: 27%;
  transform: translate(-50%, -50%);
}
#intro .intro__content .intro__item:last-child .intro__text h3 {
  font-weight: bold;
  margin-bottom: 20px;
  background: rgba(0, 67, 108, 0.8);
  padding: 6px 15px;
  display: inline-block;
  font-size: 1.8rem;
}
#intro .intro__content .intro__item:last-child .intro__text p {
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 1.8rem;
}
#intro .intro__content .intro__item:last-child .intro__text button {
  border: 2px solid #fff;
  border-radius: 40px;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  padding: 6px 15px;
  font-size: 1.4rem;
  cursor: pointer;
}
#intro .intro__content .intro__item:last-child .intro__text button:hover {
  background-color: white;
  color: #2198dc;
}

#our .our__title {
  text-align: center;
  color: #00324f;
  font-size: 6rem;
  margin: 30px 0 40px 0;
  font-weight: 300;
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 0.5s, transform 0.5s;
}
#our .our__content {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s, transform 1s;
}
#our .our__content .our__nav {
  margin-bottom: 10px;
  justify-content: center;
  border: none;
}
#our .our__content .our__nav .nav-item {
  padding: 5px 20px;
  position: relative;
}
#our .our__content .our__nav .nav-item .nav-link {
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 16px;
}
#our .our__content .our__nav .nav-item .nav-link.active, #our .our__content .our__nav .nav-item .nav-link:hover {
  background-color: #2198dc !important;
  color: white !important;
}
#our .our__content .our__nav .nav-item::after {
  position: absolute;
  content: "";
  display: block;
  bottom: -79%;
  left: 50%;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  border-top: 17px solid white;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
}
#our .our__content .our__nav .nav-item:has(.active):after {
  opacity: 1;
}
#our .our__content .our__nav .nav-item:hover:after {
  opacity: 1;
}
#our .our__content .tab-content .tab-pane {
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#our .our__content .tab-content .tab-pane .tab-pane-content {
  width: 35%;
  color: white;
  position: absolute;
  top: 5%;
  left: 3%;
}
#our .our__content .tab-content .tab-pane .tab-pane-content .tab-pane-title {
  font-weight: bold;
  font-size: 1.6rem;
}
#our .our__content .tab-content .tab-pane .tab-pane-content .tab-pane-title span {
  font-weight: normal;
}
#our .our__content .tab-content .tab-pane .tab-pane-content img {
  width: 60%;
}
#our .our__content .tab-content .tab-pane .tab-pane-content .tab-pane-caption {
  font-size: 1.6rem;
  margin: 10px 0 15px 0;
}
#our .our__content .tab-content .tab-pane .tab-pane-content .tab-pane-cost .tab-pane-infor h2 {
  font-size: 3rem;
  font-weight: 300;
}
#our .our__content .tab-content .tab-pane .tab-pane-content .tab-pane-cost .tab-pane-infor p {
  font-size: 1.4rem;
  font-weight: bold;
}
#our .our__content .tab-content .tab-pane .tab-pane-content .btn-caption {
  border-radius: 40px;
  color: #fff;
  font-weight: bold;
  padding: 6px 15px;
  font-size: 1.4rem;
  cursor: pointer;
  margin-top: 20px;
  transition: border 0.3s, background-color 0.3s;
}
#our .our__content .tab-content .tab-pane .tab-pane-content .btn-caption.btn-explore {
  border: 2px solid #ff4040;
  background-color: #ff4040;
  margin-right: 20px;
}
#our .our__content .tab-content .tab-pane .tab-pane-content .btn-caption.btn-explore:hover {
  background-color: white;
  color: #ff4040;
}
#our .our__content .tab-content .tab-pane .tab-pane-content .btn-caption.btn-build {
  border: 2px solid white;
  background-color: none;
}
#our .our__content .tab-content .tab-pane .tab-pane-content .btn-caption.btn-build:hover {
  background-color: white;
  color: #2198dc;
}
#our .our__content .tab-content .tab-pane .tab-pane-footer {
  padding: 5px 0;
  width: 50%;
  align-items: center;
  border-top: 1px solid white;
  position: absolute;
  bottom: 0;
}
#our .our__content .tab-content .tab-pane .tab-pane-footer a {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding-left: 5px;
  text-align: center;
}

#customize {
  padding: 100px 0;
  background-color: #f5f5f5;
  text-align: center;
}
#customize > div {
  width: 90%;
  margin: 0 auto;
}
#customize > div .customize__content__top .customize__item .customize__text {
  background-color: white;
  padding: 40px 50px;
  box-shadow: 0 5px 10px 0 rgba(8, 29, 42, 0.08);
  color: #00324f;
  transition: transform 0.3s linear;
}
#customize > div .customize__content__top .customize__item .customize__text:hover {
  transform: translateY(-10px);
}
#customize > div .customize__content__top .customize__item .customize__text i {
  font-size: 4rem;
}
#customize > div .customize__content__top .customize__item .customize__text h4 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 10px 0;
}
#customize > div .customize__content__top .customize__item .customize__text p {
  font-size: 1.4rem;
}
#customize > div .customize__content__top .customize__item .customize__text button {
  border: 2px solid #2198dc;
  border-radius: 40px;
  background-color: #2198dc;
  font-size: 1.4rem;
  color: #fff;
  font-weight: bold;
  padding: 5px 15px;
  cursor: pointer;
}
#customize > div .customize__content__top .customize__item .customize__text button:hover {
  background-color: transparent;
  color: #007cc3;
}
#customize > div .customize__content__bottom {
  padding-top: 50px;
}
#customize > div .customize__content__bottom .customize__right .customize__text,
#customize > div .customize__content__bottom .customize__left .customize__text {
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: content-box;
  color: white;
  position: relative;
}
#customize > div .customize__content__bottom .customize__right .customize__text > div,
#customize > div .customize__content__bottom .customize__left .customize__text > div {
  position: absolute;
  bottom: 7%;
}
#customize > div .customize__content__bottom .customize__right .customize__text > div h4,
#customize > div .customize__content__bottom .customize__left .customize__text > div h4 {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 1.8rem;
}
#customize > div .customize__content__bottom .customize__right .customize__text > div p,
#customize > div .customize__content__bottom .customize__left .customize__text > div p {
  font-weight: 300;
  margin-bottom: 30px;
  padding: 0 20px;
}
#customize > div .customize__content__bottom .customize__right .customize__text > div button,
#customize > div .customize__content__bottom .customize__left .customize__text > div button {
  border: 2px solid #ff4040;
  border-radius: 40px;
  background-color: #ff4040;
  font-size: 1.4rem;
  color: #fff;
  font-weight: bold;
  padding: 5px 15px;
  cursor: pointer;
}
#customize > div .customize__content__bottom .customize__right .customize__text > div button:hover,
#customize > div .customize__content__bottom .customize__left .customize__text > div button:hover {
  background-color: white;
  color: #ff4040;
}
#customize > div .customize__content__bottom .customize__left .customize__text {
  padding-right: 5px;
  background-image: url(../img/intro-3.jpg);
}
#customize > div .customize__content__bottom .customize__right .customize__text {
  padding-left: 5px;
  background-image: url(../img/intro-4.jpg);
}

#discover {
  background-color: #f5f5f5;
  padding-bottom: 50px;
}
#discover .discover__title {
  text-align: center;
  margin-bottom: 30px;
}
#discover .discover__title h1 {
  font-size: 6rem;
  color: #00324f;
}
#discover .discover__title p {
  color: #00446a;
  font-weight: 300;
  font-size: 1.4rem;
}
#discover .discover__content {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  gap: 20px 0;
}
#discover .discover__content .discover__item .discover__text {
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  background-position: center;
  position: relative;
}
#discover .discover__content .discover__item .discover__text > div {
  position: absolute;
  bottom: 5%;
}
#discover .discover__content .discover__item .discover__text > div h3 {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #00324f;
}
#discover .discover__content .discover__item .discover__text > div p {
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 1.4rem;
  padding: 0 20px;
}
#discover .discover__content .discover__item .discover__text > div a {
  color: #2198dc;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-decoration: none;
}
#discover .discover__content .discover__infor {
  height: 450px;
  background-color: white;
  text-align-last: left;
  padding: 0 20px;
  position: relative;
}
#discover .discover__content .discover__infor > div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#discover .discover__content .discover__infor > div .discover__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#discover .discover__content .discover__infor > div .discover__logo img {
  border-radius: 7px;
}
#discover .discover__content .discover__infor > div .discover__logo > p {
  font-size: 1.4rem;
  color: #2198dc;
  margin: 10px 0 10px 5px;
}
#discover .discover__content .discover__infor > div .discover__logo > p a {
  text-decoration: none;
  font-weight: bold;
  display: block;
}
#discover .discover__content .discover__infor > div .discover__logo > p a:hover {
  text-decoration: underline;
}
#discover .discover__content .discover__infor > div .discover__logo > p a:last-child {
  font-weight: 300;
}
#discover .discover__content .discover__infor > div .discover__detail p {
  font-size: 1.4rem;
}
#discover .discover__content .discover__infor > div .discover__detail a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #2198dc;
}
#discover .discover__content .discover__infor > div .discover__detail a:hover {
  text-decoration: underline;
}
#discover .discover__content .discover__infor > div .discover__detail .time {
  font-size: 1.4rem;
  color: #2198dc;
}
#discover .discover__content .discover__infor > div .discover__detail .social {
  color: #2198dc;
}
#discover .discover__content .discover__infor > div .discover__detail .social > span {
  margin: 0 15px;
}
#discover .discover__footer {
  margin-top: 50px;
  text-align: center;
}
#discover .discover__footer button {
  border: 2px solid #ff4040;
  border-radius: 40px;
  background-color: #ff4040;
  color: white;
  font-weight: bold;
  padding: 5px 15px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}
#discover .discover__footer button:hover {
  background-color: white;
  color: #ff4040;
}

#list {
  overflow: hidden;
}
#list .list__search {
  display: flex;
}
#list .list__search .list__type {
  width: 90%;
  border-right: 1px solid rgba(0, 0, 0, 0.289);
}
#list .list__search .list__type .search-list {
  padding: 15px 0;
}
#list .list__search .list__type .search-list i {
  font-size: 1.8rem;
  color: #2198dc;
  margin-right: 20px;
  width: 5%;
}
#list .list__search .list__type .search-list input {
  border: none;
  outline: none;
  background: transparent;
  height: 3rem;
  width: 90%;
  font-size: 2.4rem;
  font-weight: normal;
  color: #2198dc;
}
#list .list__search .list__type .search-list input::placeholder {
  font-size: 1.8rem;
  font-weight: normal;
}
#list .list__search .list__type .btn-list {
  display: grid;
  place-items: center;
}
#list .list__search .list__type .btn-list button {
  font-size: 1.4rem;
  font-weight: bold;
  color: #2198dc;
  border: 2px solid #2198dc;
  background-color: transparent;
  padding: 5px 15px;
  border-radius: 15px;
}
#list .list__search .list__type .btn-list button:hover {
  background-color: #2198dc;
  color: white;
}
#list .list__search .list__back {
  flex-grow: 1;
}
#list .list__search .list__back a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  color: #007cc3;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#list .list__search .list__back a i {
  font-size: 1.4rem;
  margin-left: 5px;
  transform: translateY(2px);
}
#list .list__search .list__back a:hover {
  color: #ff4040;
}
#list .list__content {
  background-color: #f5f5f5;
}
#list .list__content > div {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#list .list__content > div .list-detail {
  padding: 50px 0;
}
#list .list__content > div .list-detail h1 {
  font-weight: bold;
  margin-bottom: 30px;
  color: #00324f;
  font-size: 1.8rem;
}
#list .list__content > div .list-detail #list-nav ul li {
  margin-bottom: 15px;
}
#list .list__content > div .list-detail #list-nav ul li a {
  font-size: 1.4rem;
  color: #2198dc;
  text-decoration: none;
}
#list .list__touch {
  background-color: #f5f5f5;
  padding: 30px 0;
}
#list .list__touch > div {
  width: 85%;
  margin: 0 auto;
}
#list .list__touch > div .list__right h3 {
  font-weight: bold;
  margin-bottom: 30px;
  color: #00324f;
  font-size: 1.8rem;
}
#list .list__touch > div .list__right .right-social i {
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background-color: #007cc3;
  color: white;
  border-radius: 50%;
}
#list .list__touch > div .list__left {
  text-align: right;
}
#list .list__touch > div .list__left p {
  font-size: 1.4rem;
  color: #00324f;
  margin-bottom: 20px;
}
#list .list__touch > div .list__left button {
  border: 2px solid #2198dc;
  border-radius: 40px;
  background-color: transparent;
  color: #007cc3;
  font-weight: bold;
  padding: 7px 30px;
  font-size: 1.4rem;
  cursor: pointer;
}
#list .list__touch > div .list__left button:hover {
  color: white;
  background-color: #2198dc;
}
#list .list__touch > div .list__left button:focus {
  box-shadow: 0px 0px 5px 0px #2198dc;
}

@media screen and (max-width: 1199.95px) {
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item {
    padding: 15px;
  }
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__infor .infor__left h3,
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__infor .infor__right h3 {
    font-size: 2rem;
  }
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__infor .infor__left p,
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__infor .infor__right p {
    font-size: 1.6rem;
  }
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__button {
    margin-top: 10px;
  }
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__button button {
    padding: 10px 15px;
    font-size: 11px;
  }
}
@media screen and (max-width: 991.95px) {
  #header #navbar a {
    padding: 15px;
    font-size: 1.2rem;
  }
  #header #navbar .navbar-collapse {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
  #header #navbar .navbar-collapse .nav-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  #header #navbar .navbar-nav .nav-item .dropdown-item {
    width: 30rem;
  }
  #header #navbar .navbar-nav .nav-item .dropdown-item#owners-dropitem::before {
    right: 15%;
  }
  #header #navbar .navbar-nav .nav-item .dropdown-item#discover-dropitem::before {
    right: 18%;
  }
  #header #navbar .navbar-nav .nav-item .dropdown-item#english-dropitem::before {
    right: 14%;
  }
  #header #navbar .navbar-nav .nav-item .dropdown-item .drop-right h3,
  #header #navbar .navbar-nav .nav-item .dropdown-item .drop-left h3 {
    font-size: 1.6rem;
  }
  #header #navbar .navbar-nav .nav-item .dropdown-item .drop-right ul li a,
  #header #navbar .navbar-nav .nav-item .dropdown-item .drop-left ul li a {
    font-size: 1.2rem;
  }
  #header #navbar .navbar-nav .nav-item .dropdown-item .drop-bottom i {
    font-size: 1.6rem;
  }
  #header #header__search > div {
    padding: 15px 30px;
  }
  #header #header__search > div::before {
    display: none;
  }
  #header #header__search > div .search-area i {
    font-size: 1.4rem;
    margin-right: 10px;
  }
  #header #header__search > div .search-area input {
    font-size: 1.4rem;
  }
  #header #header__search > div .search-area input::placeholder {
    font-size: 1.4rem;
  }
  #header #header__search > div .btn-area button {
    font-size: 11px;
    padding: 5px;
  }
  #header #vehicles__popup #vehicles__content .btn__close {
    display: block;
    top: 10%;
    right: -6%;
  }
  #header #vehicles__popup #vehicles__content .btn__close button {
    font-size: 1.2rem;
    padding: 10px;
  }
  #header #vehicles__popup #vehicles__content .nav__vehicle ul {
    padding: 15px;
  }
  #header #vehicles__popup #vehicles__content .vehicle__list {
    padding: 25px 15px 25px 25px;
  }
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__title .vehicle__text > span {
    top: -30px;
  }
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item {
    padding: 15px;
  }
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__infor .infor__left h3,
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__infor .infor__right h3 {
    font-size: 2rem;
  }
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__infor .infor__left p,
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__infor .infor__right p {
    font-size: 1.4rem;
  }
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__button {
    margin-top: 5px;
  }
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__button button {
    font-weight: bold;
    padding: 10px;
    font-size: 11px;
  }
}
@media screen and (max-width: 767.95px) {
  #header #navbar a {
    font-size: 1.2rem;
    padding: 10px 15px;
  }
  #header #navbar .navbar-nav .nav-item a {
    padding: 15px;
  }
  #header #navbar .navbar-nav .nav-item .dropdown-item {
    width: 40rem;
    left: 0;
    right: unset;
    z-index: 1;
  }
  #header #navbar .navbar-nav .nav-item .dropdown-item::before {
    left: 7%;
    right: unset;
  }
  #header #navbar .navbar-nav .nav-item .dropdown-item .drop-right ul li a,
  #header #navbar .navbar-nav .nav-item .dropdown-item .drop-left ul li a {
    font-size: 1.2rem;
  }
  #header #header__search > div {
    padding: 5px 10px;
  }
  #header #header__search > div::before {
    display: none;
  }
  #header #header__search > div .search-area i {
    font-size: 1.4rem;
    margin-right: 10px;
  }
  #header #header__search > div .search-area input {
    font-size: 1.4rem;
  }
  #header #header__search > div .search-area input::placeholder {
    font-size: 1.4rem;
  }
  #header #header__search > div .btn-area button {
    font-size: 11px;
    padding: 5px;
  }
  #header #vehicles__popup #vehicles__content .btn__close {
    display: none;
  }
  #header #vehicles__popup #vehicles__content .nav__vehicle ul {
    padding: 5px;
  }
  #header #vehicles__popup #vehicles__content .nav__vehicle ul li {
    display: block;
  }
  #header #vehicles__popup #vehicles__content .nav__vehicle ul li a {
    font-size: 1.4rem;
    padding: 0 10px;
    border: none;
  }
  #header #vehicles__popup #vehicles__content .vehicle__list {
    padding: 20px 10px 20px 20px;
  }
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item {
    padding: 10px;
  }
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__infor .infor__left h3,
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__infor .infor__right h3 {
    font-size: 1.4rem;
  }
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__infor .infor__left p,
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__infor .infor__right p {
    font-size: 1rem;
  }
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__button {
    margin-top: 5px;
  }
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__button button {
    font-weight: normal;
    padding: 5px;
    font-size: 11px;
  }
}
@media screen and (max-width: 575.95px) {
  #header #navbar a {
    font-size: 1.2rem;
    padding: 10px 15px;
  }
  #header #navbar .navbar-nav .nav-item .dropdown-item {
    width: 30rem;
  }
  #header #vehicles__popup #vehicles__content {
    width: 90%;
  }
  #header #vehicles__popup #vehicles__content .btn__close {
    display: none;
  }
  #header #vehicles__popup #vehicles__content .nav__vehicle ul li a {
    font-size: 1.2rem;
  }
  #header #vehicles__popup #vehicles__content .vehicle__list {
    padding: 20px 10px 20px 20px;
  }
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__title .vehicle__text > span {
    font-size: 1.8rem;
    top: -25px;
  }
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item {
    padding: 5px;
  }
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__name {
    font-size: 1.4rem;
  }
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__infor .infor__left h3,
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__infor .infor__right h3 {
    font-size: 1.2rem;
  }
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__button {
    margin-top: 5px;
  }
  #header #vehicles__popup #vehicles__content .vehicle__list .vehicle__item .vehicle__child .vehicle__cost .vehicle__button button {
    padding: 2px;
    font-size: 9px;
  }
}
@media screen and (max-width: 1199.98px) {
  #carousel {
    height: 750px;
  }
  #carousel .carousel__content {
    height: 450px;
  }
}
@media screen and (max-width: 991.98px) {
  #carousel {
    height: 700px;
  }
  #carousel .carousel__content {
    height: 400px;
  }
  #carousel .carousel__content .swiper-button-next,
  #carousel .carousel__content .swiper-button-prev {
    top: 40%;
    padding: 30px 20px;
    background-color: rgba(255, 255, 255, 0.9019607843);
    border-radius: 9%;
  }
}
@media screen and (max-width: 767.98px) {
  #carousel {
    height: 800px;
  }
  #carousel .carousel__content {
    height: 500px;
  }
}
@media screen and (max-width: 991.98px) {
  #intro .intro__content {
    width: 95%;
  }
  #intro .intro__content .intro__item {
    height: 300px;
  }
  #intro .intro__content .intro__item:first-child {
    padding-right: 10px;
  }
  #intro .intro__content .intro__item:first-child .intro__text h4 {
    margin-bottom: 15px;
  }
  #intro .intro__content .intro__item:first-child .intro__text p {
    margin-bottom: 15px;
  }
  #intro .intro__content .intro__item:last-child {
    padding-left: 10px;
  }
  #intro .intro__content .intro__item:last-child .intro__text {
    top: 55%;
  }
  #intro .intro__content .intro__item:last-child .intro__text h3, #intro .intro__content .intro__item:last-child .intro__text p {
    font-size: 1.4rem;
  }
  #intro .intro__content .intro__item:last-child .intro__text button {
    font-size: 1.2rem;
    padding: 5px 10px;
  }
}
@media screen and (max-width: 767.98px) {
  #intro .intro__content {
    width: 85%;
  }
  #intro .intro__content .intro__item {
    height: 350px;
    padding: 0 !important;
  }
  #intro .intro__content .intro__item:first-child {
    margin-bottom: 15px;
  }
  #intro .intro__content .intro__item:first-child .intro__text h4 {
    margin-bottom: 15px;
  }
  #intro .intro__content .intro__item:first-child .intro__text p {
    margin-bottom: 15px;
  }
  #intro .intro__content .intro__item:last-child .intro__text {
    top: 55%;
  }
  #intro .intro__content .intro__item:last-child .intro__text h3, #intro .intro__content .intro__item:last-child .intro__text p {
    font-size: 1.8rem;
  }
  #intro .intro__content .intro__item:last-child .intro__text button {
    font-size: 1.4rem;
    padding: 5px 10px;
  }
}
@media screen and (max-width: 575.98px) {
  #intro .intro__content .intro__item {
    height: 250px;
    padding: 0 !important;
  }
  #intro .intro__content .intro__item:first-child {
    margin-bottom: 15px;
  }
  #intro .intro__content .intro__item:first-child .intro__text h4, #intro .intro__content .intro__item:first-child .intro__text p {
    margin-bottom: 15px;
  }
  #intro .intro__content .intro__item:first-child .intro__text button {
    font-size: 1.2rem;
  }
  #intro .intro__content .intro__item:last-child .intro__text {
    width: 45%;
    top: 55%;
    left: 27%;
  }
  #intro .intro__content .intro__item:last-child .intro__text h3, #intro .intro__content .intro__item:last-child .intro__text p {
    font-size: 1.4rem;
  }
  #intro .intro__content .intro__item:last-child .intro__text button {
    font-size: 11px;
    padding: 5px;
  }
}/*# sourceMappingURL=main.css.map */